---
import MainLayout from '../../layouts/MainLayout.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import siteContent from '../../content/site.en.json';

const lang = 'en';
---

<MainLayout
  title={`Website Terms of Use | ${siteContent.company}`}
  description="Website Terms of Use for Data Science Technologies."
  lang={lang}
>
  <Header lang={lang} content={siteContent} />

  <main class="section-padding">
    <div class="container-custom">
      <div class="mx-auto max-w-4xl">
        <div name="termly-embed" data-id="c1f326f2-3c32-4041-af1d-118f66e7e575"></div>
        <script is:inline type="text/javascript">(function(d, s, id) {
          var js, tjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "https://app.termly.io/embed-policy.min.js";
          tjs.parentNode.insertBefore(js, tjs);
        }(document, 'script', 'termly-jssdk'));</script>
      </div>
    </div>
  </main>

  <Footer lang={lang} content={siteContent} />
</MainLayout>
